<div class="wrapper">
  <form action="/articles" method="post" class="search_form">
    <label for="query">Query</label>
    <input id="query" name="query" type="text" size="60" /><br /><br />
    <input id="bt_search" name="bt_search" type="submit" value="Search" />
  </form>
</div>
