<%= erb :_header %>

  <div class="wrapper">

    <div class="jcarousel-wrapper">
      <div class="jcarousel">
        <div class="loading">
          <h2>Welcome to <i class="fa fa-newspaper-o"></i> NewsWorthy</h2>
          <p class="app_description">Type in a search query above to read articles about current events from all perspectives.<br>Ideological perspective scores for each news source are calculated based on data from the Pew Research Center's 2014 American Trends Panel survey.</p>
        </div>
      </div>

      <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
      <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    </div>

    <div class="meter">
      <div class="fill"></div>
      <div class="liberal">
        <h2>Liberal</h2>
      </div>
      <div class="conservative">
        <h2>Conservative</h2>
      </div>
    </div>

  </div>

<div class="template">

  <div class="article_template">
    <li class="article">
      <h4 class="title"></h4>
      <h5 class="source"></h5>
      <span class="date"></span>
      <p class="short_description"></p>
      <button class="url"><a href="" target="_blank"></a></button>
      <div class='rating'></div>
    </li>
  </div>

</div>
