<%= erb :_header %>
<div class="scroller">

  <div class="frame">
    <ul class="slidee">

    </ul>
  </div>

  <div class="scrollbar">
    <div class="handle"></div>
  </div>

</div>
<div class="container">




  <div class="article_template">
    <li class="article">
      <h2 class="title"></h2>
      <p class="source"></p>
      <p class="short_description"></p>
      <button class="url"><a href="" target="_blank"></a></button>
    </li>
  </div>

</div>
