<%= erb :_header %>
<div class="container">

  <div class="articles">
  </div>

  <div class="article_template">
    <div class="article">
      <h2 class="title"></h2>
      <p class="source"></p>
      <p class="short_description"></p>
      <button class="url"><a href="" target="_blank"></a></button>
    </div>
  </div>

</div>

<div class="spectrum">
  <div class=""></div>
  <div class="lib"></div>
  <div class="title">Ideological Spectrum</div>
</div>
