<%= erb :_header %>

  <div class="wrapper">

    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <div class="loading">Loading carousel items...</div>
        </div>

        <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
        <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    </div>
    <div class="meter">
      <div class="fill"></div>
    </div>
  </div>

<div class="template">

  <div class="article_template">
    <li class="article">
      <h4 class="title"></h4>
      <h5 class="source"></h5>
      <p class="short_description"></p>
      <button class="url"><a href="" target="_blank"></a></button>
      <div class='rating'></div>
    </li>
  </div>

</div>
