<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">


  <title>News search</title>
</head>
<body>
  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script type="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="js/jquery.easing.js"></script>
  <script src="sly/horizontal.js"></script>
  <script src="http://darsa.in/sly/js/vendor/modernizr.js"></script>
  <script src="http://darsa.in/sly/js/sly.min.js" ></script>
</body>
</html>

